* {
  box-sizing: border-box;
}

#page-wrap {

  padding-bottom: 10px;
  padding-top: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(192, 210, 216);
  background-color: rgba(192, 210, 216);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


a{
  color:white;
  text-decoration: none;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* aside bar goes wonky because of 39 */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }



  
}



